/** Global Styling*/
*{
    box-sizing: border-box;
  }
  
  :root {
    --cell-size: 100px;
  }

p{
    margin-top: 5px;
}

/** "Tic-tac-toe" header styling */
.main-title{
    color:firebrick;
    /* color:blue; */
    text-align: center;
    font-size: 5rem;
}
  
/** Styling for the board */
.board {
    width: 100vw;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(3, auto);
    justify-items: center;
    align-items: center;
}
  
/** Styling for individual boxes*/
.box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--cell-size);
    height: var(--cell-size);
    border: 1px solid black;
    position: relative;
    cursor: pointer;
}


/** Styling for restart button */
#restart-btn{
	padding: 10px 40px;
	font-size: 18px;
	color: #FFF;
    background-color: #e74c3c;
    border-radius: 5px;
	border-bottom: 5px solid firebrick;
}

#restart-btn:hover{
    cursor: pointer;
}

/** Styling for win,draw, turn text*/
#msg{
	font-size: 25px;
	color: #7bae37;
    border-radius: 5px;
	border-bottom: 5px solid firebrick;
    padding-bottom: 10px;
    margin-bottom: 13px;
}